:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Variáveis de cores */
  --primary-color: #0073e6;
  --text-color: #333;
  --background-color: #fff;
  --background-secondary: #f6f6f6;
  --border-color: #ddd;
  --hover-color: #f0f0f0;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  min-height: 60vh;
  margin-bottom: 5em;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 1em;
  transition: 0.3s;
  margin: 0 auto;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn.btn-outline:hover {
  background-color: var(--primary-color);
  color: white;
}

.btn.btn-danger {
  background-color: #dc3545;
}

.btn.btn-dark {
  background-color: #333;
  border-radius: 0;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

form {
  width: 100%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: 0.5em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}

input:focus,
textarea:focus {
  outline-color: var(--primary-color);
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

.post,
.user_info,
.noposts,
.no_posts,
.no_results {
  background-color: var(--background-secondary);
  box-shadow: 0 2px 5px var(--box-shadow);
}